## Import all the required libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

## Load the dataset, drop Churn column and view the first few rows

In [ ]:
df= pd.read_csv('Telco_Churn.csv', skipinitialspace=True)
df= df.drop('Churn', axis=1)
df.head()

   customerID  gender  ...  MonthlyCharges TotalCharges
0  7590-VHVEG  Female  ...           29.85        29.85
1  5575-GNVDE    Male  ...           56.95      1889.50
2  3668-QPYBK    Male  ...           53.85       108.15
3  7795-CFOCW    Male  ...           42.30      1840.75
4  9237-HQITU  Female  ...           70.70       151.65

[5 rows x 20 columns]

## Check for missing values in the dataset

In [ ]:
for col in df:
    missing_values= df[col].isna().sum()
    if(missing_values>0):
        print('{} {}'.format(col, missing_values))

TotalCharges 11

## Extract the categorical features that will be one-hot encoded

In [ ]:
categorical_features= df.select_dtypes(include= ['object'])
categorical_features

      customerID  gender  ... PaperlessBilling              PaymentMethod
0     7590-VHVEG  Female  ...              Yes           Electronic check
1     5575-GNVDE    Male  ...               No               Mailed check
2     3668-QPYBK    Male  ...              Yes               Mailed check
3     7795-CFOCW    Male  ...               No  Bank transfer (automatic)
4     9237-HQITU  Female  ...              Yes           Electronic check
...          ...     ...  ...              ...                        ...
7038  6840-RESVB    Male  ...              Yes               Mailed check
7039  2234-XADUH  Female  ...              Yes    Credit card (automatic)
7040  4801-JZAZL  Female  ...              Yes           Electronic check
7041  8361-LTMKD    Male  ...              Yes               Mailed check
7042  3186-AJIEK    Male  ...              Yes  Bank transfer (automatic)

[7043 rows x 16 columns]

## View the number of categories for the PaymentMethod feature

In [ ]:
categorical_features.PaymentMethod.value_counts()

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

## Apply one-hot encoding on the PaymentMethod column

In [ ]:
one_hot_encoder = OneHotEncoder(sparse=False)

In [ ]:
one_hot_encoder.fit_transform(categorical_features[['PaymentMethod']])

array([[0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       ...,
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.]])

In [ ]:
one_hot_encoder.categories_

[array(['Bank transfer (automatic)', 'Credit card (automatic)',
        'Electronic check', 'Mailed check'], dtype=object)]

## Drop the customerID column

In [ ]:
 categorical_features= categorical_features.drop('customerID', axis=1)

## Apply one-hot encoding on all categorical features

In [ ]:
one_hot_encoder.fit_transform(categorical_features)

In [ ]:
names= one_hot_encoder.get_feature_names()
names= pd.Series(names)
names= names.apply(lambda x: x.split('_')[1])

In [ ]:
categorical_features= pd.DataFrame(one_hot_encoder.fit_transform(categorical_features))
categorical_features.columns= names
categorical_features

      Female  Male  ...  Electronic check  Mailed check
0        1.0   0.0  ...               1.0           0.0
1        0.0   1.0  ...               0.0           1.0
2        0.0   1.0  ...               0.0           1.0
3        0.0   1.0  ...               0.0           0.0
4        1.0   0.0  ...               1.0           0.0
...      ...   ...  ...               ...           ...
7038     0.0   1.0  ...               0.0           1.0
7039     1.0   0.0  ...               0.0           0.0
7040     1.0   0.0  ...               1.0           0.0
7041     0.0   1.0  ...               0.0           1.0
7042     0.0   1.0  ...               0.0           0.0

[7043 rows x 41 columns]

## Method 2: Using pd.get_dummies()

In [ ]:
df= df.drop('customerID', axis=1)

In [ ]:
categorical_features= df.select_dtypes(include= ['object'])

In [ ]:
df= pd.get_dummies(df, columns=categorical_features.columns.tolist())

In [ ]:
df

      SeniorCitizen  ...  PaymentMethod_Mailed check
0                 0  ...                           0
1                 0  ...                           1
2                 0  ...                           1
3                 0  ...                           0
4                 0  ...                           0
...             ...  ...                         ...
7038              0  ...                           1
7039              0  ...                           0
7040              0  ...                           0
7041              1  ...                           1
7042              0  ...                           0

[7043 rows x 45 columns]